<%- include ('../partials/header') %>

	<style>
		.btn {
			min-width: 200px;
		}

		label {
			margin-bottom: 0.4rem;
		}

		.row1 {
			display: flex;
			align-items: flex-start;
		}

		.column1 {
			flex: 50%;
			margin-right: 2rem
		}

		.center {
			display: block;
			margin-top: 10px;
			margin-left: auto;
			margin-right: auto;
		}
	</style>

	<div class="container">
		<img src="https://cesc.co.in/ptrlineins/imags/Security-Deposit-Bill.png"
			class="center" height="150" alt="Logo">
		<h1 id="mainHeading">Bill Verification Form</h1>
		<form action="/market/billPayment" method="post">
			<div class="row1">
				<div class="column1">
					<div>
						<label for="input1">Shop ID</label>
						<input type="text" class="form-control"
							id="input1" placeholder="Enter your ShopID" name="ShopID" autofocus required>
					</div>
					<br>
					<div class="form-group">
						<label for="input2">Rent Reference ID</label>
						<input type="text" id="input2" name="RentReferenceID" class="form-control"
							placeholder="Enter the your Rent reference ID" required>
					</div>
					<br>
					<div class="form-group">
						<label for="input3">Amount of Rent Paid (in &#x20B9)</label>
						<input type="text" name="RentPaid" id="input3" class="form-control"
							placeholder="Enter the Amount of Electricity Bill"
							required>
					</div>
				</div>
				<div class="column1">
					<div>
						<label for="input4">ShopKeeper ID</label>
						<input type="text" class="form-control" placeholder="Enter your ID"
							id="input4" name="ShopKeeperID">
					</div>
					<br>
					<div class="form-group">
						<label for="input5">Bill Reference ID</label>
						<input type="text" id="input5" name="BillReferenceID" class="form-control"
							placeholder="Enter your name" required>
					</div>

					<br>
					<div class="form-group">
						<label for="input6">Amount of Electricity Bill Paid (in &#x20B9)</label>
						<input type="text" id="input6" name="ElectricityBillPaid" class="form-control"
							placeholder="Enter the Amount of Electricity Bill" required>
					</div>
				</div>
			</div>
			<br>
			<div class="text-center form-group">
				<input type="submit" name="submit" class="btn btn-primary btn-block mb-4"
					value="Submit">
			</div>
			
		</form>

	</div>


<%- include ('../partials/footer') %>