<%- include ('../partials/header') %>

	<style>
		.btn {
			min-width: 200px;
		}

		label {
			margin-bottom: 0.4rem;
		}

		.row1 {
			display: flex;
			align-items: flex-start;
		}

		.column1 {
			flex: 50%;
			margin-right: 2rem
		}

		.center {
			display: block;
			margin-top: 10px;
			margin-left: auto;
			margin-right: auto;
		}
	</style>

	<div class="container">
		<img src="https://cdn-icons-png.flaticon.com/512/1087/1087916.png"
			class="center" height="150" alt="Logo">
		<h1 id="mainHeading">Feedback Form</h1>
		<form action="/market/feedbackform" method="post">
			<div class="row1">
				<div class="column1">
					<div>
						<label for="exampleFormControlInput1">Shop ID</label>
						<input type="text" class="form-control disable"
							id="exampleFormControlInput1" value="" name=shopid">
					</div>
					<br>
					<div class="form-group">
						<label for="input1">Feedback ID</label>
						<input type="text" id="input1" name="feedbackid" class="form-control"
							placeholder="Enter the your feedback ID" autofocus required>
					</div>
					<br>
					<div class="form-group">
						<label for="input2">Service Quality</label>
						<input type="text" id="input2" name="servicequality" class="form-control"
							placeholder="Enter the quality of service" required>
					</div>
				</div>
				<div class="column1">
					<div>
						<label for="exampleFormControlInput2">ShopKeeper ID</label>
						<input type="text" class="form-control disable"
							id="exampleFormControlInput2" value="" name="shopkeeperid">
					</div>
					<br>
					<div class="form-group">
						<label for="input3">Name</label>
						<input type="text" id="input3" name="name" class="form-control"
							placeholder="Enter your name" required>
					</div>

					<br>
					<div class="form-group">
						<label for="input4">Shop Workers' Behaviour</label>
						<input type="text" name="swbehaviour" id="input4" class="form-control"
							placeholder=""
							required>
					</div>
				</div>
			</div>
			<br>
			<div class="text-center form-group">
				<input type="submit" name="submit" class="btn btn-primary btn-block mb-4"
					value="Submit">
			</div>
			
		</form>

	</div>


<%- include ('../partials/footer') %>