<%- include ('../partials/header') %>

	<style>
		.btn {
			min-width: 200px;
		}

		label {
			margin-bottom: 0.4rem;
		}

		.row1 {
			display: flex;
			align-items: flex-start;
		}

		.column1 {
			flex: 50%;
			margin-right: 2rem
		}

		.center {
			display: block;
			margin-top: 10px;
			margin-left: auto;
			margin-right: auto;
		}

	</style>

	<div class="container">
		<img src="https://cdn-icons-png.flaticon.com/512/1087/1087916.png"
			class="center" height="150" alt="Logo">
		<h1 id="mainHeading">Feedback Form</h1>
		<form action="/market/feedbackform" method="post">
			<div class="row1">
				<div class="column1">
					<div>
						<label for="exampleFormControlInput1">Shop Name</label>
						<input type="text" class="form-control disable"
							id="exampleFormControlInput1" value="" name=shopid">
					</div>
					<br>        
					<div class="form-group">
						<label for="input2">Service Quality</label>
						<br>
						<fieldset class="rating" id="input2">
							<input type="radio" id="star5" name="ServiceQuality" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
							<input type="radio" id="star4half" name="ServiceQuality" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
							<input type="radio" id="star4" name="ServiceQuality" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
							<input type="radio" id="star3half" name="ServiceQuality" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
							<input type="radio" id="star3" name="ServiceQuality" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
							<input type="radio" id="star2half" name="ServiceQuality" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
							<input type="radio" id="star2" name="ServiceQuality" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
							<input type="radio" id="star1half" name="ServiceQuality" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
							<input type="radio" id="star1" name="ServiceQuality" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
							<input type="radio" id="starhalf" name="ServiceQuality" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
						</fieldset>						      
					</div>
				</div>
				<div class="column1">
					<div>
						<label for="exampleFormControlInput2">ShopKeeper Name</label>
						<input type="text" class="form-control disable"
							id="exampleFormControlInput2" value="" name="shopkeeperid">
					</div>
					<br>
					<div class="form-group">
						<label for="input4">Shop Workers' Behaviour</label>
						<select id="Select" class="form-select" name="ShopWorkerBehaviour" required>
								<option selected>Choose the Behaviour</option>
								<option value="Polite">Polite</option>
								<option value="Rude">Rude</option>
						</select>	
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="mb-3">
					<label for="exampleFormControlTextarea1" class="form-label">Shop
						Feedback</label>
					<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
						name="Feedback"  maxlength="250" required></textarea>
				</div>
			</div>
			<div class="text-center form-group">
				<input type="submit" name="submit" class="btn btn-primary btn-block mb-4"
					value="Submit">
			</div>
			
		</form>

	</div>


<%- include ('../partials/footer') %>