<%- include ('../partials/header') %>

<style>
    :root {
        /* Base font size */
        font-size: 15px;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }


    .container {
        max-width: 80rem;
        margin: 0 auto;
        padding: 0 2rem 2rem;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        margin: -1rem -1rem;
    }

    .gallery-item {
        /* Minimum width of 24rem and grow to fit available space */
        flex: 1 0 24rem;
        /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
        margin: 1rem;
        box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
        overflow: hidden;
    }

    .gallery-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 400ms ease-out;
    }

    .gallery-image:hover {
        transform: scale(1.15);
    }

    @supports (display: grid) {
        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
            grid-gap: 2rem;
        }

        .gallery,
        .gallery-item {
            margin: 0;
        }
    }


    .col {
        float: left;
        width: 50%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    a {
        font-family: "Montserrat", Arial, sans-serif;
    }
    
</style>
<div class="container">

	<h1 class="heading">MARKET PAGE</h1>

	<div class="gallery">

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1588638873871-636d9d4aa27b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=500&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzODIwNDcxNw&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=500" alt="Market Bookstore">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1529022805552-1c88a713c1c5?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=500&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzODIwNDg1MQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=500" alt="Market Cafe">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1569267034662-77399a614620?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=500&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzODIwNDk1OQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=500" alt="Market Stationery Shop">
		</div>

	</div>

</div>

<div class="container row">

    <div class="col">
        <ul class="list">
            <li>
                <div class="wrapper">
                    <span class="square">
                      <a class="tenth before after anc" href="/market/activeShops">Active Shops in the Campus</a>
                    </span>
                </div>	
            </li>
            <%if(user && user.UserType === "Admin") {%>
                <li>
                    <div class="wrapper">
                        <span class="square">
                          <a class="tenth before after anc" href="/market/shopkeeperdetails">Shop Keeper's Details</a>
                        </span>
                    </div>	
                </li>
            <%}%>
            <li>
                <div class="wrapper">
                    <span class="square">
                      <a class="tenth before after anc" href="/market/billPaymentform">Bill Payment form</a>
                    </span>
                </div>	
            </li>
        </ul>
    </div>
    <div class="col">
        <ul class="list">
            <li>
                <div class="wrapper">
                    <span class="square">
                      <a class="tenth before after anc" href="/market/availableShops">Available Shops for Rent</a>
                    </span>
                </div>	
            </li>
            <%if(user && user.UserType === "Admin") {%>
                <li>
                    <div class="wrapper">
                        <span class="square">
                          <a class="tenth before after anc" href="/market/shopRentingRequests">Shop Renting Requests</a>
                        </span>
                    </div>	
                </li>
            <%}%>
            <li>
                <div class="wrapper">
                    <span class="square">
                      <a class="tenth before after anc" href="/market/billPaymentRequests">Bill Payment Request</a>
                    </span>
                </div>	
            </li>
            
        </ul>
    </div>
    
        
        
        

       
        

    <!-- <p><a href="/market/activeShops">Active Shops in the Campus</a></p> -->
    <!-- <%if(user && user.UserType === "Others") {%>
        <p><a href="/market/shopRenting">Shops available for Rent</a></p>
    <%}%>
    <%if(user && user.UserType === "Admin") {%>
        <p><a href="/market/request/shopRent">Renting a shop request</a></p>
    <%}%>
    <%if(user && user.UserType === "Others") {%>
        <p><a href="/market/billPayment">Rent and Bill Payment for Shop owned</a></p>
    <%}%>
    <%if(user && user.UserType === "Admin") {%>
        <p><a href="/market/request/payment">Shop bills Payment request</a></p>
    <%}%> -->
    <!-- <br>
    <hr>
    <p><a href="/market/shopkeeperdetails">Shop Keeper Details</a></p> -->
    <!-- <hr> -->
    <!-- <p><a href="/market/availableShops">Available Shops</a></p> -->
    <!-- <p><a href="/market/shopRentingRequests">Booking Shop Request</a></p> -->
    <!-- <br>
    <hr> -->
    <!-- <p><a href="/market/billPaymentform">Bill Payment form </a></p>
    <p><a href="/market/billPaymentRequests">Bill Payment Request</a></p>
    <br> -->

</div>
<%- include ('../partials/footer') %>
