<%- include ('../partials/header') %>

<div class="container">
	// <%roomBookingRequests.forEach(function(request){%>
	    <div class="card">
		<div class="card-header">ShopID: </div>
		<div class="card-body">
		    <div class="row">
			<div class="col-md-4">
			    ShopKeeperID: 
			</div>
			<div class="col-md-4">
			    BookingTime: 
			</div>
			<div class="col-md-4">
			    PaymentMethod: 
			</div>
		    </div>
		    <div class="row">
			<div class="col-md-4">
			    RoomNumber: 
			</div>
			<div class="col-md-4">
			    BookedFrom: 
			</div>
			<div class="col-md-4">
			    BookedTill: 
			</div>
		    </div>
		    <div class="row">
			<div class="col-md-4">
			    ShopKeeperName: 
			</div>
			<div class="col-md-4">
			    PanCardNumber: 
			</div>
			<div class="col-md-4">
			    PreferredShopName: 
			</div>
		    </div>
		    <a class="btn btn-success btn-sm" href="/guest/booking/room/Approved/>Approve"</a>
		    <a class="btn btn-danger btn-sm" href="/guest/booking/room/Rejected/>Reject"</a>
		</div>
	    </div>
	//<%});%>
    </div>

<%- include ('../partials/footer') %>