<%- include ('../partials/header') %>

<style>
    
    :root {
        font-size: 15px;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    .container {
        max-width: 80rem;
        margin: 0 auto;
        padding: 0 2rem 2rem;
    }


    .gallery {
        display: flex;
        flex-wrap: wrap;
        margin: -1rem -1rem;
    }

    .gallery-item {
        flex: 1 0 24rem;
        margin: 1rem;
        box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
        overflow: hidden;
    }

    .gallery-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 400ms ease-out;
    }

    .gallery-image:hover {
        transform: scale(1.15);
    }

    @supports (display: grid) {
        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
            grid-gap: 2rem;
        }

        .gallery,
        .gallery-item {
            margin: 0;
        }
    }


        .col {
            float: left;
            width: 50%;
		}
        .row:after {
            content: "";
            display: table;
            clear: both;
		}

	a {
        font-family: "Montserrat", Arial, sans-serif;
    }
</style>
<div class="container">

	<h1 class="heading">GUEST HOUSE PAGE</h1>

	<div class="gallery">

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?w=500&h=500&fit=crop" alt="person writing in a notebook beside by an iPad, laptop, printed photos, spectacles, and a cup of coffee on a saucer">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=500&h=500&fit=crop" alt="sunset behind San Francisco city skyline">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="https://images.unsplash.com/photo-1506045412240-22980140a405?w=500&h=500&fit=crop" alt="people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan">
		</div>

	</div>



</div>
<div class="container row">
    <div class="col">
        <ul class="list">
            <li>
                <div class="wrapper">
                    <span class="square">
                      <a class="tenth before after anc" href="/guest/roomAvailability">Guest Room Availability</a>
                    </span>
                </div>	
            </li>
            <li>
                <div class="wrapper">
                    <span class="square">
                      <a class="tenth before after anc" href="/guest/monthlyBookings/room">Monthly Room Bookings</a>
                    </span>
                </div>	
            </li>
            <%if(user && user.UserType === "Admin") {%>
                <li>
                    <div class="wrapper">
                        <span class="square">
                          <a class="tenth before after anc" href="/guest/bookings/room">Room Booking Requests</a>
                        </span>
                    </div>	
                </li>
            <%}%>
            <%if(user && user.UserType === "Admin") {%>
                <li>
                    <div class="wrapper">
                        <span class="square">
                          <a class="tenth before after anc" href="/guest/Expenditures">Old Expenditures</a>
                        </span>
                    </div>	
                </li>
            <%}%> 
            <li>
                <div class="wrapper">
                    <span class="square">
                        <a class="tenth before after anc" href="/guest/leaveRequests/new">Submit Leave Request</a>
                    </span>
                </div>	
            </li>
            <li>
                <div class="wrapper">
                    <span class="square">
                        <a class="tenth before after anc" href="/guest/dutyRoster">Duty Roster</a>
                    </span>
                </div>	
            </li>
        </ul>   
    </div>
    
    <div class="col">
        <ul class="list">
            <li>
                <div class="wrapper">
                    <span class="square">
                      <a class="tenth before after anc" href="/guest/foodOrders">Food Booking</a>
                    </span>
                </div>	
            </li>
            <li>
                <div class="wrapper">
                    <span class="square">
                      <a class="tenth before after anc" href="/guest/monthlyBookings/food">Monthly Food Bookings</a>
                    </span>
                </div>	
            </li>
        <%if(user && user.UserType === "Admin") {%>
            <li>
                <div class="wrapper">
                    <span class="square">
                      <a class="tenth before after anc" href="/guest/bookings/food">Food Booking Requests</a>
                    </span>
                </div>	
            </li>
        <%}%>
        <%if(user && user.UserType === "Admin") {%>
            <li>
                <div class="wrapper">
                    <span class="square">
                      <a class="tenth before after anc" href="/guest/Expenditures/new">Add New Expenditure</a>
                    </span>
                </div>	
            </li>
        <%}%>
            <li>
                <div class="wrapper">
                    <span class="square">
                    <a class="tenth before after anc" href="/guest/leaveRequests">Leave Requests</a>
                    </span>
                </div>	
            </li>
        </ul>
    </div>
</div>



<%- include ('../partials/footer') %>