<%- include ('../partials/header') %>

<h1 class="center">This is guest page!</h1>

<div class="container">
    <p>
        <a href="/guest/roomBooking">Guest Room Booking</a>
    </p>
</div>

<%- include ('../partials/footer') %>