<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/all.min.css">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">IITP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/guest/roomAvailability" role="button">Room Availability</a>
                    </li> -->
                </ul>
                <form class="d-flex">
                    <% if(!user){ %>
                        <a class="nav-link login" href="/login">Login</a>
                    <% } else { %>
                        <a class="nav-link" href="/user/<%=user.CollegeID%>"><%= user.Name %></a>
                        <span class="stick">|</span>
                        <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
                </form>
                <div>
                    <input type="checkbox" class="checkbox" id="checkbox">
                    <label for="checkbox" class="label">
                    <i class="fas fa-moon fa-xs"></i>
                    <i class="fas fa-sun fa-xs"></i>
                    <div class='ball'>
                    </label>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <% if(success && success.length>0){ %>
        <div class="container mtp">
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        </div>
    <% } %>
    <% if(error && error.length>0){ %>
        <div class="container mtp">
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        </div>
    <% } %>

