@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Abel');
.center {
    text-align: center;
}

.disable{
    pointer-events:none;
    background: #D3E4CD;
}

.footer {
    border-top-style: solid;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.home-img {
    height: 250px;
    width: 380px;
    margin: 20px;
}

.place-form {
    width: 40%;
    margin: auto;
}

.form-div {
    padding: 10px;
}

.mtp {
    margin-top: 10px;
}

.stick {
    position: relative;
    top: 8px;
    color: darkolivegreen;
}

.img-thumbnail img {
    width: 100%;
    max-height: 500px;
}
.figure-caption {
    text-align: center;
}
.placemoreinfobtn {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-bottom: 1.25rem;
}


#img-block {
    margin-top: 100px;
}

#mainHeading{
    text-align: center;
    margin-bottom: 70px;
    margin-top: 50px;
}

/* star rating */
.rating { 
    border: none;
    float: left;
  }
  
  .rating > input { display: none; } 
  .rating > label:before { 
    margin: 5px;
    font-size: 1.80em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }
  
  .rating > .half:before { 
    content: "\f089";
    position: absolute;
  }
  
  .rating > label { 
    color: #ddd; 
   float: right; 
  }
  
  /***** CSS Magic to Highlight Stars on Hover *****/
  
  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
  
  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 