.center {
    text-align: center;
}

.disable{
    pointer-events:none;
    background: #D3E4CD;
}

.footer {
    border-top-style: solid;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.home-img {
    height: 250px;
    width: 380px;
    margin: 20px;
}

.place-form {
    width: 40%;
    margin: auto;
}

.form-div {
    padding: 10px;
}

.mtp {
    margin-top: 10px;
}

.stick {
    position: relative;
    top: 8px;
    color: darkolivegreen;
}


#img-block {
    margin-top: 100px;
}

#mainHeading{
    text-align: center;
    margin-bottom: 70px;
    margin-top: 50px;
}