<%- include ('../partials/header') %>

<h1 class="center">This is landscape page!</h1>

<div class="container">
    <p><a href="/landscape/grassCuttingRequest/new">New Grass Cutting Request</a></p>
    <p><a href="/landscape/grassCuttingRequest">Grass Cutting Requests</a></p>
</div>
<hr>
<div class="container">
    <p><a href="/landscape/MaintenanceRequest/new">New Maintenance Request</a></p>
    <p><a href="/landscape/MaintenanceRequest">Maintenance Requests</a></p>
</div>
<%- include ('../partials/footer') %>

